{% extends '@App\\index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- MDBootstrap Datatables  -->
    <link href="{{asset('admin/css/addons/datatables.min.css" rel="stylesheet')}}">
{% endblock %}

{% block pageName %}
    <h3 class="page-header"><i class="fa fa fa-bars"></i>
        Produit
    </h3>
{% endblock %}

{% block panelHeading %}

    Liste des produits

{% endblock %}

{% block content %}
    <fieldset legend="Gestion de produit">
        <div class="panel panel-success">    
            <a class="btn btn-info" href="{{ path('produit_new') }}">Nouveau produit</a>
            <div class="table-responsive">
                <table id="dtBasicExample" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
                    <thead class="black white-text">
                        <tr>
                            <th>Id</th>
                            <th>Image du produit</th>
                            <th>Catégorie du produit</th>
                            <th>Libelle</th>
                            <th>Prix du produit</th>
                            <th>Prix du gaz</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td>{{ produit.id }}</td>
                                <td>
                                    <img src="{{ asset('uploads/produits/'~produit.image)}}" alt ="" height="15px">
                                </td>
                                <td>{{ produit.categorieProduit.getLibelle() }}</td>
                                <td>{{ produit.libelle|capitalize }}</td>
                                <td>{{ produit.prixProduit }}</td>
                                <td>{{ produit.prixGaz }}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('produit_edit', { 'id': produit.id }) }}"><i class="fa fa-pencil"></i></a> 
                                    <a onclick="return confirm('Etes-vous sûr de vouloir supprimer ce produit')" class="btn btn-danger" href="{{ path('produit_delete', { 'id': produit.id }) }}"><i class="icon_close_alt2"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </fieldset>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('admin/js/addons/datatables.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock %}