{% extends '@App\\index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('admin/css/lightbox.css')}}">
    <!-- MDBootstrap Datatables  -->
    <link href="{{asset('admin/css/addons/datatables.min.css" rel="stylesheet')}}">
{% endblock %}

{% block pageName %}
    <h3 class="page-header"><i class="fa fa fa-bars"></i>
        Distributeurs
    </h3>
{% endblock %}

{% block panelHeading %}

    Liste des distributeurs

{% endblock %}

{% block content %}
    <fieldset legend="Gestion de typeDistributeur">
        <div class="panel panel-success">    
            <a class="btn btn-info" href="{{ path('distributeur_new') }}">Nouveau distributeur</a>
            <div class="table-responsive">
                <table id="dtBasicExample" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
                    <thead class="black white-text">
                        <tr>
                            <th>Id</th>
                            <th>Sous Type de distributeur</th>
                            <th>Libellé</th>
                            <th>Téléphone</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for distributeur in distributeurs %}
                            <tr>
                                <td>{{ distributeur.id }}</td>
                                <td>{{ distributeur.sousTypeDistributeur.libelle|capitalize }}</td>
                                <td>{{ distributeur.nom|capitalize }}</td>
                                <td>{{ distributeur.telephone|capitalize }}</td>
                                <td>{{ distributeur.latitude }}</td>
                                <td>{{ distributeur.longitude }}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('distributeur_edit', { 'id': distributeur.id }) }}"><i class="fa fa-pencil"></i></a> 
                                    <a onclick="return confirm('Etes-vous sûr de vouloir supprimer ce Distributeur?')" class="btn btn-danger" href="{{ path('distributeur_delete', { 'id': distributeur.id }) }}"><i class="icon_close_alt2"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </fieldset>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('admin/js/addons/datatables.min.js')}}"></script>
    <script>
            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
    </script>
{% endblock %}