{% extends '@App\\index.html.twig' %}

{% block pageName %}
    <h3 class="page-header"><i class="fa fa fa-bars"></i>
        Partenaire
    </h3>
{% endblock %}

{% block panelHeading %}
    Modifier un partenaire
{% endblock %}

{% block content %}
    <br>
    <div  class="col-md-6 col-md-offset-3">
        {{ form_start(form) }}
        div class='form-group'>
        <label>Catégorie partenaires</label>
        {{ form_widget(form.categoriePartenaires,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class='form-group'>
        <label>Nom</label>
        {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class='form-group'>
        <label>Image</label>
        {{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class='form-group'>
        <label>Lien</label>
        {{ form_widget(form.lien,{'attr':{'class':'form-control'}}) }}
    </div>
    {{ form_widget(form) }}
    <div class="form-group col-md-4">
        <a class="btn btn-info btn-lg btn-block" href="{{ path('partenaire_new') }}">Nouvel partenaire</a>
    </div>
    <div class="form-group col-md-4">
        <a class="btn-danger btn-lg btn-block" type="button" href="{{path('partenaire_index')}}">Voir la liste</a>
    </div>
    <div class="form-group col-md-4">
        <input class="btn-success btn-lg btn-block" type="submit" value="Modifier" />
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}